@{
    ViewData["Title"] = "Home";
}

<h2> Welcome to the Company Management System</h2>

<div class="mt-4">
    <a asp-controller="Department" asp-action="Index" class="btn btn-primary btn-lg m-2">
        Manage Departments
    </a>

    <a asp-controller="Employee" asp-action="Index" class="btn btn-success btn-lg m-2">
        Manage Employees
    </a>
</div>
